@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat:400,700" rel="stylesheet');
html {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background: url(backgroundpic.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-right: 85px;
}
/* 
h1 {
  font: 60px/75px "Alfa Slab One", cursive, sans-serif;
  text-transform: uppercase;
}

h3 {
  font: italic 400 30px/40px "Gentium Book Basic", serif;
} */


.navLinks {
  list-style: none;
  padding-left: 0;
  height: 50px;
  font: bold 30px/40px 'Montserrat', sans-serif;
  text-transform: uppercase;
  align-content: center;
}

.navLinks li {
  display: inline-block;
  padding: 0 30px;
}

.navLinks a {
  color:  white;
  text-decoration: none;
  font-size: 25px;
}

.navLinks a.active {
  color: rgb(235, 214, 252);
}

.navLinks a.active:hover {
  color: rgb(187, 153, 202);
}

.navLinks a:hover {
  color: rgb(216, 214, 218);
}

.App {
  text-align: center;
  display: inline-block; 
}
.App div {
  color: white;
  font: bold 50px/60px 'Montserrat', sans-serif;
  padding-top: 80px;
  padding-bottom: 0px;
}

.App div p {
  color: white;
  font: 20px 'Merriweather', serif;
  /* position: center;
  width: 500px;
  height: 100px;
  line-height: 20px;
  text-align: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.App div a {
  background:transparent;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
}
.App div a i.fab {
  font-size: 30px;
  color: white;
}

.App div a i.fab:hover {
  font-size: 30px;
  color: rgb(216, 214, 218)
}
